@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*  Reset  */
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}


/* General Styling */
body{
  font-family: 'Open Sans',  sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

header span {
  display: inline-block;
  margin: 2rem;
  letter-spacing: 2.5px;
  line-height: 1.5;
}

.container {
  display: flex;
  max-width: 80%;
  margin: auto;
}

.lead {
  display: inline-block;
  text-align: left;
  padding: 1rem 9rem 2rem;
}

.separator {
  height: 0.5rem;
  background-color: #333;
}

.left, .right {
  flex: 1;
  padding: 1rem;
}

.part1, .part2 {
  line-height: 1.5;
  font-size: 1.1rem;
}

.part1 {
  margin-top: 2rem;
}