@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #242333;
	display: flex;
	flex-direction: column;
	color: #fff;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

.movie-container{
	margin: 20px 0;
}

.movie-container select{
	background-color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 10px;
	padding: 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}